.rabbit-select-wrapper {
  min-width: var(--rabbit-input-min-width);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.rabbit-select-option {
  display: flex;
  padding: 0.25rem 0.5rem;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--rabbit-hover-color);
  }
  &.is-select {
    background-color: var(--rabbit-primary-4);
    font-weight: 600;
  }
}

.rabbit-select {
  cursor: pointer;
}

.icon-arrow-down-fill {
  color: #ccc;
  transition: transform 0.2s linear;
  &.rotate-180 {
    transform: rotateZ(180deg);
  }
}
