.rabbit-tree-wrapper {
  display: grid;
  grid-template-areas: 'a';
  justify-content: start;
  height: fit-content;
  position: relative;
  background-color: #fff;
  .tree-item {
    display: flex;
    align-items: center;
    padding: 0.1rem;
    background-color: #fff;
    height: var(--tree-item-height);
    overflow-y: hidden;
    .tree-item-loading-icon {
      color: var(--rabbit-primary-color);
      animation: rotate-until 1s 0.2s infinite linear;
    }
    .draggle-handle {
      cursor: grab;
    }
    .expand-handle {
      display: inline-block;
      cursor: pointer;
      border-radius: var(--rabbit-border-radius-base);
      .tree-arrow-right {
        transition: transform 0.2s linear;
      }
      &:hover {
        background-color: var(--rabbit-primary-2);
      }
    }
    .tree-item-label {
      display: flex;
      align-items: center;
      padding: 0.05rem 0.2rem;
      border-radius: var(--rabbit-border-radius-base);
      cursor: pointer;
      .label-icon {
        display: flex;
        margin-right: 0.2rem;
      }
      &:hover {
        background-color: var(--rabbit-primary-1);
      }
    }
    &.is-left {
      .expand-handle {
        cursor: default;
        opacity: 0;
      }
    }
    &.is-expand {
      .expand-handle .tree-arrow-right {
        transform: rotateZ(90deg);
      }
    }
    &.is-disabled {
      .tree-item-label {
        color: var(--rabbit-disabled-color);
        background-color: transparent;
        cursor: not-allowed;
      }
      .expand-handle {
        color: var(--rabbit-disabled-color);
        background-color: transparent;
        cursor: not-allowed;
      }
    }
    &.is-checked {
      .tree-item-label {
        color: #fff;
        background-color: var(--rabbit-primary-color);
      }
    }
  }
  .tree-lines {
    grid-area: 1 / 2;
  }
  .tree-items {
    grid-area: 1 / 2;
    z-index: 1;
    --tree-item-height: auto;
  }
  .tree-line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--rabbit-border-color-base);
  }
}

.tree-drag-tip {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2000;
  transform: translateY(-0.25rem);
  --bg-color: var(--rabbit-primary-color);
  .circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    &::after {
      content: ' ';
      display: inline-block;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background-color: #fff;
    }
  }
  .line {
    display: inline-block;
    flex: 1;
    height: 2px;
    background-color: var(--bg-color);
  }
}

@keyframes rotate-until {
  0% { rotate: 0; }
  50% { rotate: 270deg; }
  100% { rotate: 360deg; }
}
