.rabbit-select-wrapper {
  min-width: 6rem;
  max-height: 12rem;
  overflow-y: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.rabbit-select-option {
  display: flex;
  padding: 0.25rem 0.5rem;
  width: 100%;
  cursor: pointer;

  &.is-hover {
    background-color: var(--rabbit-hover-color);
  }
  &.is-select {
    background-color: var(--rabbit-primary-4);
    font-weight: 600;
  }
}

.rabbit-select-group {
  display: flex;
  flex-direction: column;
  .rabbit-select-group-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    color: var(--rabbit-border-color-base);
    padding: 0.2rem 0.5rem;
  }
  .rabbit-select-group-options {
    .rabbit-select-option,
    .rabbit-multiple-select-option {
      padding-left: 1.5rem;
    }
  }
}
