.image-picker-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .image-picker-item {
    position: relative;
    height: 3.75rem;
    background-color: #f4f5f5;
    border: 1px dashed var(--rabbit-border-color-base);
    border-radius: var(--rabbit-border-radius-base);
    overflow: hidden;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
    &>img {
      height: 100%;
    }

    .image-picker-action {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      &>span {
        z-index: 2;
        &:not(:last-child) {
          margin-right: 0.25rem;
        }
      }
      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    &:hover .image-picker-action {
      display: flex;
    }
  }

  .image-picker-handle {
    display: flex;
    height: 3.75rem;
    background-color: #f4f5f5;
    border: 1px dashed var(--rabbit-border-color-base);
    border-radius: var(--rabbit-border-radius-base);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  }
}