.rabbit-arrow {
  width: var(--border-width);
  height: var(--border-width);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    display: inline-block;
    content: ' ';
    width: 65%;
    height: 65%;
    background-color: #fff;
    border: 1px solid var(--rabbit-border-color-base);
  }
  &.is-small {
    --border-width: 0.875rem;
  }
}

.rabbit-popper-wrapper {
  --border-width: 1.25rem;
  background-color: #fff;
  border-radius: var(--rabbit-border-radius-base);
  box-shadow: var(--rabbit-box-shadow-base);
  width: auto !important;
  z-index: 10;
  &.is-hidden {
    display: none;
  }

  &[data-popper-placement='top'] {
    margin-bottom: calc(0.8 * var(--border-width)) !important;
    .rabbit-arrow {
      &::after {
        transform: translateY(-65%) rotate(45deg);
      }
    }
  }

  &[data-popper-placement='bottom'] {
    margin-top: calc(0.8 * var(--border-width)) !important;
    .rabbit-arrow {
      top: calc(-1 * var(--border-width));
      &::after {
        transform: translateY(65%) rotate(45deg);
      }
    }
  }

  &[data-popper-placement='left'] {
    margin-right: calc(0.8 * var(--border-width)) !important;
    .rabbit-arrow {
      right: calc(-1 * var(--border-width));
      &::after {
        transform: translateX(-65%) rotate(45deg);
      }
    }
  }

  &[data-popper-placement='right'] {
    margin-left: calc(0.8 * var(--border-width)) !important;
    .rabbit-arrow {
      left: calc(-1 * var(--border-width));
      &::after {
        transform: translateX(65%) rotate(45deg);
      }
    }
  }
}